.countryCard {
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    width: 200px;
    height: 200px;
    /* justify-content: center; */
    align-items: center;
    padding-top: 15px;
    
}

.countryCard img {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.countryCard p {
    font-weight: bold;
}